.container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
  }
}
.userProfile {
  padding: 30px;
  text-align: left;
  background: white;
  border-radius: 9px;
  &:hover {
    .avatar {
      img {
        border-color: rgb(10, 102, 194);
      }
    }
  }
}
.avatar {
  width: 160px;
  img {
    border: solid 6px transparent;
    border-radius: 50%;
  }
}
.userName {
  text-align: center;
  padding-right: 2rem;
}
